[submodule "ratelimit"]
	path = ratelimit
	url = https://github.com/envoyproxy/ratelimit.git
	branch = master
[submodule "hydra"]
	path = hydra
	url = https://github.com/ory/hydra.git
	branch = master
